##### Property file for DerbyDump #####

## Database access ##
# Choice 1: embedded derby
# Use this when you have a derby database folder
# and no other Derby engine is currently accessing this database
db.driverClassName = org.apache.derby.jdbc.EmbeddedDriver
db.derbyDbPath = ~/databaseFolder


# Choice 2: network derby
# Use this when you already have a running Derby server
# db.driverClassName = org.apache.derby.jdbc.ClientDriver
# db.derbyDbPath = localhost/databasePath


## Database details ##
db.schemaName = databaseName
db.userName = root
db.password = secret!


## Internal options ##
# buffer size in kB. Must be larger than the largest row. defaults to 8912
dump.buffer.size = 8912


## Output options ##
# Path to where you want the output file written
outputPath = derbyDumpOutput.sql
# Whether to add truncate table statements before inserting data, defaults to false
output.truncateTables = true


# Path to a file which contains a list of table names to rewrite in the output
# The file should have one table per line as:
# OriginaltableName = NewTableName
#
# This can be very useful to fix the case of table names, such as when exporting to
# mysql. Since the left hand side is matches case insensitively, you can write
# Contact = Contact
# in order to output the Derby table CONTACT as "Contact"
#
# If the right side is "--exclude--" then this table is not included in the output
tableRewritePath = tableRewrite.txt